.hero {
  width: 100%;
  height: 397px;
  background-image: url(../images/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* font-family: "VodafoneRg"; */
}

.hero__logo {
  width: 98.3px;
  height: 47.8px;
  padding: 41px 111px 30px 110px;
}
.hero__wrapper {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.hero__title {
  /* width: 300px; */
  height: 69px;
  font-size: 30px;
  line-height: 1.07;
  margin-bottom: 10px;
}
.hero__text {
  width: 300px;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 10px;
}
.hero__button {
  width: 300px;
  height: 34px;
  background-color: #e60000;
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  color: #fff;
}

.section__title {
  font-family: VodafoneLt;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.landing__text__bold {
}

/* comienzo section one */
.section__one {
  background-color: aquamarine;
}
/* /// comienza section two// */
.section__two {
  background-color: #333;
}

.section__two .section__title {
  height: 29px;
  padding: 30px 23.5px 27px 22px;
}
.checklist {
  text-align: left;
  padding-right: 16.5px;
  padding-left: 47px;
  line-height: 1.13;
}
.checklist__item {
  margin: 12px 0;
}
.cheklist__item__text {
  position: relative;

  padding-left: 15pt;
}
.checklist__item__icon {
  position: absolute;
  left: 12px;
}
